Repository jagatsingh/schema-gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-gen-validate, schema-gen-generate, schema-gen-compatibility

schema-gen-validate:
  name: Validate generated schemas
  entry: uv run schema-gen validate
  language: system
  pass_filenames: false
  stages:
  - pre-commit

schema-gen-generate:
  name: Generate schemas
  entry: uv run schema-gen generate
  language: system
  pass_filenames: false

schema-gen-compatibility:
  name: Version compatibility check
  entry: uv run python scripts/check_compatibility.py --current-only
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(renovate): disable pip-compile manager
  renovate.json5
Due: none

fix(renovate): drop private tradingutils preset, self-contain config
  renovate.json5
Due: none

fix(parser): apply inspect.cleandoc to class + enum docstrings
  src/schema_gen/parsers/schema_parser.py
  tests/test_cleandoc_class_docstrings.py
Due: schema-gen-validate

chore: bump version to 0.3.8 and publish to Nexus
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

fix(pydantic): emit minimal typing imports + PEP 257 multi-line docstrings
  .pre-commit-config.yaml
  src/schema_gen/generators/pydantic_generator.py
  tests/golden_outputs/avro_canonical_order.avsc
  tests/golden_outputs/dataclasses_canonical_order.py
  tests/golden_outputs/graphql_canonical_order.graphql
  tests/golden_outputs/jackson_canonical_order.java
  tests/golden_outputs/jsonschema_canonical_order.json
  tests/golden_outputs/kotlin_canonical_order.kt
  tests/golden_outputs/pathway_canonical_order.py
  tests/golden_outputs/protobuf_canonical_order.proto
  tests/golden_outputs/pydantic_canonical_order.py
  tests/golden_outputs/rust_canonical_order.rs
  tests/golden_outputs/sqlalchemy_canonical_order.py
  tests/golden_outputs/typeddict_canonical_order.py
  tests/golden_outputs/zod_canonical_order.ts
  tests/test_generator_output_stability.py
  tests/test_pydantic_typing_imports.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

fix: address PR #102 Copilot review — protobuf, sqlalchemy, pre-commit
  .pre-commit-config.yaml
  src/schema_gen/generators/protobuf_generator.py
  src/schema_gen/generators/sqlalchemy_generator.py
  tests/golden_outputs/protobuf_canonical_order.proto
  tests/golden_outputs/sqlalchemy_canonical_order.py
  tests/test_generator_correctness_invariants.py
Due: schema-gen-validate, schema-gen-compatibility

test: real framework-execution tests + fix Kotlin/Jackson multi-line + trim duplicates
  .github/workflows/comprehensive-test.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/schema_gen/generators/jackson_generator.py
  src/schema_gen/generators/kotlin_generator.py
  tests/golden_outputs/jackson_canonical_order.java
  tests/golden_outputs/kotlin_canonical_order.kt
  tests/test_format_validation.py
  tests/test_generator_correctness_invariants.py
  tests/test_generator_framework_execution.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

fix(lockfile): regenerate without UV_EXCLUDE_NEWER to match CI
  uv.lock
Due: none

fix(ruff): exclude tests/golden_outputs from ruff so CI lint passes
  pyproject.toml
  uv.lock
Due: none

fix(lockfile): remove baked exclude-newer (re-introduced by uv re-resolve)
  uv.lock
Due: none

fix(ci): kotlinc skip on missing kotlinx + tsc moduleResolution=bundler
  scripts/validate_all_formats.py
  tests/test_generator_framework_execution.py
Due: schema-gen-validate

ci: download Bean Validation API + kotlinx-serialization for compiler tests
  .claude/scheduled_tasks.lock
  .github/workflows/comprehensive-test.yml
  tests/test_generator_framework_execution.py
Due: schema-gen-validate

chore: gitignore .claude/ harness state directory
  .claude/scheduled_tasks.lock
  .gitignore
Due: none

fix(pydantic): minimal typing imports + PEP 257 docstrings + cross-generator snapshot tests (#102)
  .github/workflows/comprehensive-test.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validate_all_formats.py
  src/schema_gen/generators/jackson_generator.py
  src/schema_gen/generators/kotlin_generator.py
  src/schema_gen/generators/protobuf_generator.py
  src/schema_gen/generators/pydantic_generator.py
  src/schema_gen/generators/sqlalchemy_generator.py
  tests/golden_outputs/avro_canonical_order.avsc
  tests/golden_outputs/dataclasses_canonical_order.py
  tests/golden_outputs/graphql_canonical_order.graphql
  tests/golden_outputs/jackson_canonical_order.java
  tests/golden_outputs/jsonschema_canonical_order.json
  tests/golden_outputs/kotlin_canonical_order.kt
  tests/golden_outputs/pathway_canonical_order.py
  tests/golden_outputs/protobuf_canonical_order.proto
  tests/golden_outputs/pydantic_canonical_order.py
  tests/golden_outputs/rust_canonical_order.rs
  tests/golden_outputs/sqlalchemy_canonical_order.py
  tests/golden_outputs/typeddict_canonical_order.py
  tests/golden_outputs/zod_canonical_order.ts
  tests/test_format_validation.py
  tests/test_generator_correctness_invariants.py
  tests/test_generator_framework_execution.py
  tests/test_generator_output_stability.py
  tests/test_pydantic_typing_imports.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

chore: bump version to 0.3.9
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

fix(ci): Dockerfile heredoc syntax + setup-java openjdk → temurin
  .github/workflows/dependency-check.yml
  Dockerfile.validation
Due: none

fix(docker): convert RUN cat heredocs to COPY heredocs (BuildKit-correct)
  Dockerfile.validation
Due: none

fix(docker): retry wget downloads to survive transient 502s
  Dockerfile.validation
Due: none

test: pre-commit hook runs full framework validation in Docker
  .pre-commit-config.yaml
  scripts/validate-in-docker.sh
Due: none

chore: bump version to 0.3.9 (#103)
  .github/workflows/dependency-check.yml
  .pre-commit-config.yaml
  Dockerfile.validation
  pyproject.toml
  scripts/validate-in-docker.sh
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

test(framework): close the last 2 skip gaps so Docker validation has zero skips
  Dockerfile.validation
  scripts/validate-in-docker.sh
  tests/test_generator_framework_execution.py
Due: schema-gen-validate

test(framework): close the last 2 skip gaps so Docker validation has zero skips (#105)
  Dockerfile.validation
  scripts/validate-in-docker.sh
  tests/test_generator_framework_execution.py
Due: schema-gen-validate

feat(core): add per-field wire-name alias for Pydantic/Rust/JSON Schema/Zod (#108)
  docs/generators/pydantic.md
  docs/generators/rust.md
  docs/schema-format.md
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/jsonschema_generator.py
  src/schema_gen/generators/pydantic_generator.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  tests/test_field_alias.py
Due: schema-gen-validate, schema-gen-compatibility

fix(generators): escape alias values in Rust and Zod string literals
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  tests/test_field_alias.py
Due: schema-gen-validate, schema-gen-compatibility

fix(rust): compare alias to default wire key, not Rust ident, for rename suppression
  src/schema_gen/generators/rust_generator.py
  tests/test_field_alias.py
Due: schema-gen-validate, schema-gen-compatibility

feat(core): add per-field wire-name alias for Pydantic/Rust/JSON Schema/Zod (#109)
  docs/generators/pydantic.md
  docs/generators/rust.md
  docs/schema-format.md
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/jsonschema_generator.py
  src/schema_gen/generators/pydantic_generator.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  tests/test_field_alias.py
Due: schema-gen-validate, schema-gen-compatibility

chore: bump version to 0.3.10
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

chore: bump version to 0.3.10 (#110)
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

fix(pydantic): emit serialize_by_alias=True in ConfigDict when any field has alias= (issue #111)
  src/schema_gen/generators/pydantic_generator.py
  tests/test_field_alias.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

fix(pydantic): fix doc-code drift and test gaps for serialize_by_alias (pre-push review)
  docs/generators/pydantic.md
  src/schema_gen/generators/pydantic_generator.py
  tests/test_field_alias.py
Due: schema-gen-validate, schema-gen-compatibility

chore: bump version to 0.3.11 (#111)
  pyproject.toml
  src/schema_gen/__init__.py
Due: schema-gen-validate

fix(pydantic): emit serialize_by_alias=True in ConfigDict when any field has alias= (#111) (#112)
  docs/generators/pydantic.md
  pyproject.toml
  src/schema_gen/__init__.py
  src/schema_gen/generators/pydantic_generator.py
  tests/test_field_alias.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

fix(ci): re-enable test_e2e_compile.py in all CI workflows
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/publish.yml
Due: none

chore: sync uv.lock with schema-gen version 0.3.11
  uv.lock
Due: none

fix(ci): restore --ignore for test_e2e_compile in publish workflow
  .github/workflows/publish.yml
Due: none

fix(ci): re-enable test_e2e_compile.py in all CI workflows (#113)
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/publish.yml
  uv.lock
Due: none

fix(rust-gen): emit #[serde(default)] only for zero-value native-Default types
  pyproject.toml
  src/schema_gen/__init__.py
  src/schema_gen/generators/rust_generator.py
  tests/golden_outputs/rust_canonical_order.rs
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

fix(rust-gen): emit serde default helper fn for non-trivial defaults (#115)
  src/schema_gen/generators/rust_generator.py
  tests/test_e2e_compile.py
  tests/test_rust_generator.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

fix(rust-gen): guard helper-fn emission and handle NaN/inf defaults
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

chore: bump version to 0.3.16, sync uv.lock
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  schema-gen-validate: any of: \.py$
  schema-gen-generate: any of: (schemas/.*\.py|\.schema-gen\.config\.py)$
  schema-gen-compatibility: any of: src/schema_gen/generators/.*\.py$
