Repository jagatsingh/schema-gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-gen-validate, schema-gen-generate, schema-gen-compatibility

schema-gen-validate:
  name: Validate generated schemas
  entry: uv run schema-gen validate
  language: system
  pass_filenames: false
  stages:
  - pre-commit

schema-gen-generate:
  name: Generate schemas
  entry: uv run schema-gen generate
  language: system
  pass_filenames: false

schema-gen-compatibility:
  name: Version compatibility check
  entry: uv run python scripts/check_compatibility.py --current-only
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: add --format github for GitHub Actions annotations (#23)
  docs/cli-reference.md
  src/schema_gen/cli/main.py
  src/schema_gen/diff/__init__.py
  src/schema_gen/diff/formatter.py
  tests/test_diff.py
Due: schema-gen-validate

chore: align supply chain security with tradingutils conventions
  .pre-commit-config.yaml
  docs/dependency_management.md
  mkdocs.yml
  pyproject.toml
  renovate.json5
Due: none

fix: remove unused import type lines in Zod generator (#38)
  src/schema_gen/generators/zod_generator.py
  tests/test_zod_imports.py
Due: schema-gen-validate, schema-gen-compatibility

fix: deduplicate enum re-exports in Zod index.ts (#37)
  src/schema_gen/generators/zod_generator.py
  tests/test_zod_imports.py
Due: schema-gen-validate, schema-gen-compatibility

fix: use file-relative $ref for cross-file nested types in JSON Schema (#41)
  src/schema_gen/generators/jsonschema_generator.py
  tests/test_generators.py
Due: schema-gen-validate, schema-gen-compatibility

fix: extract shared enums to _enums.py in Pydantic generator (#43)
  src/schema_gen/generators/pydantic_generator.py
  tests/test_shared_enums.py
Due: schema-gen-validate, schema-gen-compatibility

fix: validate enum name collisions in shared enum extraction
  src/schema_gen/generators/pydantic_generator.py
  tests/test_shared_enums.py
Due: schema-gen-validate, schema-gen-compatibility

feat: add docs generator for human-readable Markdown schema documentation (#47)
  docs/cli-reference.md
  src/schema_gen/core/config.py
  src/schema_gen/generators/__init__.py
  src/schema_gen/generators/docs_generator.py
  src/schema_gen/generators/registry.py
  tests/test_docs_generator.py
Due: schema-gen-validate, schema-gen-compatibility

feat: add contract registry API with index, queries, and validation (#48)
  src/schema_gen/cli/main.py
  src/schema_gen/core/config.py
  src/schema_gen/core/generator.py
  src/schema_gen/registry/__init__.py
  src/schema_gen/registry/index.py
  tests/test_registry.py
Due: schema-gen-validate

fix: address code review findings for registry feature (#48)
  src/schema_gen/cli/main.py
  src/schema_gen/core/generator.py
  src/schema_gen/registry/index.py
  tests/test_registry.py
Due: schema-gen-validate

fix: use date command for UV_EXCLUDE_NEWER in CI workflows
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/publish.yml
  .github/workflows/schema-check.yml
  .github/workflows/version-compatibility.yml
Due: none

chore: regenerate uv.lock for requires-python >=3.12,<3.13
  uv.lock
Due: none

chore: regenerate uv.lock for Python version constraint
  uv.lock
Due: none

fix: resolve CI failures — lockfile regeneration + Python matrix
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/version-compatibility.yml
  uv.lock
Due: none

fix: resolve CI failures — lockfile + Python matrix + UV delay
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/version-compatibility.yml
  uv.lock
Due: none

fix: regenerate uv.lock from scratch to fix missing workspace member
  uv.lock
Due: none

fix: regenerate uv.lock to fix missing workspace member
  uv.lock
Due: none

fix: remove UV_EXCLUDE_NEWER from CI — delay enforced at lockfile generation
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/publish.yml
  .github/workflows/schema-check.yml
  .github/workflows/version-compatibility.yml
Due: none

fix: add --frozen to all uv run commands in CI workflows
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/publish.yml
  .github/workflows/schema-check.yml
  .github/workflows/version-compatibility.yml
Due: none

fix: add --frozen to all uv run commands in CI
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/publish.yml
  .github/workflows/schema-check.yml
  .github/workflows/version-compatibility.yml
Due: none

fix: use .python-version for CI Python setup, remove test matrix
  .github/workflows/ci.yml
Due: none

fix: use .python-version for CI Python setup
  .github/workflows/ci.yml
Due: none

fix: exclude test_e2e_compile.py from CI (pre-existing Python 3.12 issue)
  .github/workflows/ci.yml
Due: none

fix: exclude test_e2e_compile.py from CI (#58)
  .github/workflows/ci.yml
Due: none

fix: xfail enum meta tests that fail on Python 3.12 (#58)
  tests/test_pydantic_config.py
  tests/test_rust_generator.py
Due: schema-gen-validate

fix: xfail enum meta tests for Python 3.12 (#58)
  tests/test_pydantic_config.py
  tests/test_rust_generator.py
Due: schema-gen-validate

fix: correct import order in test_rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate

fix: SQLAlchemy String import and FastAPI variant name in version compat tests
  src/schema_gen/generators/sqlalchemy_generator.py
  tests/test_rust_generator.py
  tests/test_version_compatibility.py
Due: schema-gen-validate, schema-gen-compatibility

fix: SQLAlchemy String import and FastAPI variant in version compat tests
  src/schema_gen/generators/sqlalchemy_generator.py
  tests/test_version_compatibility.py
Due: schema-gen-validate, schema-gen-compatibility

fix: restructure comprehensive validation — install compilers directly
  .github/workflows/comprehensive-test.yml
  Dockerfile.validation
Due: none

Path conditions:
  schema-gen-validate: any of: \.py$
  schema-gen-generate: any of: (schemas/.*\.py|\.schema-gen\.config\.py)$
  schema-gen-compatibility: any of: src/schema_gen/generators/.*\.py$
