Repository jagatsingh/schema-gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-gen-validate, schema-gen-generate, schema-gen-compatibility

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: schema-gen-validate
        name: Validate generated schemas
        entry: uv run schema-gen validate
        language: system
        pass_filenames: false
        files: '\.py$'
        stages: [pre-commit]

      - id: schema-gen-generate
        name: Generate schemas
        entry: uv run schema-gen generate
        language: system
        pass_filenames: false
        files: '(schemas/.*\.py|\.schema-gen\.config\.py)$'

      # Run version compatibility tests
      - id: schema-gen-compatibility
        name: Version compatibility check
        entry: uv run python scripts/check_compatibility.py --current-only
        language: system
        pass_filenames: false
        files: 'src/schema_gen/generators/.*\.py$'
        stages: [pre-push]

  # File and content validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python security and quality checks (temporarily disabled)
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.8.6
  #   hooks:
  #     - id: bandit
  #       args: ['-r', 'src/', '-ll']
  #       exclude: '^tests/'

  # - repo: https://github.com/adamchainz/blacken-docs
  #   rev: 1.19.1
  #   hooks:
  #     - id: blacken-docs
  #       additional_dependencies: [black>=24.0.0]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py312-plus]

  # Linting and formatting (Ruff replaces Black, isort, and multiple linters)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/AlexanderDokuchaev/md-dead-link-check
    rev: "v1.2.0"
    hooks:
      - id: md-dead-link-check
        args: ["--warn"]
        files: \.md$

  # Type checking with mypy (temporarily disabled for faster iteration)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.17.1
  #   hooks:
  #     - id: mypy
  #       additional_dependencies:
  #         - pydantic>=2.11.0
  #         - types-PyYAML
  #         - types-requests
  #         - sqlalchemy>=2.0.0
  #       args: [--ignore-missing-imports, --install-types, --non-interactive]

  # Documentation quality (temporarily disabled)
  # - repo: https://github.com/pycqa/pydocstyle
  #   rev: 6.3.0
  #   hooks:
  #     - id: pydocstyle
  #       args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105]

  # Test validation (run on push only to avoid slow commits)
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: uv run pytest tests/ --maxfail=1 -q
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

fix: restructure comprehensive validation — install compilers directly
  .github/workflows/comprehensive-test.yml
  Dockerfile.validation
Due: none

fix: Optional[list[T]] no longer generates double-nested arrays (#64)
  src/schema_gen/core/usr.py
  src/schema_gen/generators/pydantic_generator.py
  tests/test_optional_list.py
Due: schema-gen-validate, schema-gen-compatibility

feat: publish schema-gen v0.3.0 to Nexus and PyPI (#65)
  .github/workflows/publish.yml
  build.sh
  docs/publishing.md
  pyproject.toml
  src/schema_gen/__init__.py
Due: schema-gen-validate

style: ruff format fixes for pydantic_generator and test_optional_list
  src/schema_gen/generators/pydantic_generator.py
  tests/test_optional_list.py
Due: schema-gen-validate, schema-gen-compatibility

fix: Zod generator uses dict value types instead of z.any() (#67)
  build.sh
  src/schema_gen/generators/zod_generator.py
  tests/test_zod_dict_imports.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

fix: address code review — docstring, TS type consistency, nested dict test (#67)
  build.sh
  src/schema_gen/generators/zod_generator.py
  tests/test_zod_dict_imports.py
Due: schema-gen-validate, schema-gen-compatibility

fix: use enum.nonmember() for Meta inner classes on Python 3.12 (#58)
  tests/test_e2e_compile.py
  tests/test_pydantic_config.py
  tests/test_rust_generator.py
Due: schema-gen-validate

docs: comprehensive refresh — nonmember() pattern, Zod config, counts (#69)
  PUBLISHING.md
  README.md
  docs/configuration.md
  docs/generators/pydantic.md
  docs/generators/rust.md
  docs/schema-format.md
Due: none

fix: self-referential dict fields now emit z.lazy() in Zod (#67)
  src/schema_gen/core/usr.py
  tests/test_zod_dict_imports.py
  uv.lock
Due: schema-gen-validate

chore: regenerate uv.lock without exclude-newer for CI compat
  uv.lock
Due: none

build: auto-bump patch version on each build.sh run
  build.sh
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

fix: escape quotes in Pydantic descriptions; propagate enum docstrings (#70, #71)
  src/schema_gen/core/usr.py
  src/schema_gen/generators/jsonschema_generator.py
  src/schema_gen/generators/pydantic_generator.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_description_quotes_and_enum_docstrings.py
Due: schema-gen-validate, schema-gen-compatibility

refactor: extract _format_class_docstring helper (Copilot review)
  src/schema_gen/generators/pydantic_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix: escape quotes in Pydantic descriptions; propagate enum docstrings (#70, #71) (#72)
  src/schema_gen/core/usr.py
  src/schema_gen/generators/jsonschema_generator.py
  src/schema_gen/generators/pydantic_generator.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_description_quotes_and_enum_docstrings.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

chore: bump version to 0.3.3
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

chore: bump version to 0.3.3 (#73)
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

fix: deterministic ordering of discovered schemas and enums (#74)
  src/schema_gen/core/generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_deterministic_ordering.py
Due: schema-gen-validate

fix: deterministic ordering of discovered schemas and enums (#74) (#75)
  src/schema_gen/core/generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_deterministic_ordering.py
Due: schema-gen-validate

chore: bump version to 0.3.4
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

chore: bump version to 0.3.4 (#76)
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

fix: remove per-file Generated at timestamps; keep only in registry.json
  src/schema_gen/cli/main.py
  src/schema_gen/generators/avro_generator.py
  src/schema_gen/generators/dataclasses_generator.py
  src/schema_gen/generators/graphql_generator.py
  src/schema_gen/generators/jackson_generator.py
  src/schema_gen/generators/kotlin_generator.py
  src/schema_gen/generators/pathway_generator.py
  src/schema_gen/generators/protobuf_generator.py
  src/schema_gen/generators/pydantic_generator.py
  src/schema_gen/generators/sqlalchemy_generator.py
  src/schema_gen/generators/typeddict_generator.py
  src/schema_gen/generators/zod_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix: remove per-file Generated at timestamps; keep only in registry.json (#79)
  src/schema_gen/cli/main.py
  src/schema_gen/generators/avro_generator.py
  src/schema_gen/generators/dataclasses_generator.py
  src/schema_gen/generators/graphql_generator.py
  src/schema_gen/generators/jackson_generator.py
  src/schema_gen/generators/kotlin_generator.py
  src/schema_gen/generators/pathway_generator.py
  src/schema_gen/generators/protobuf_generator.py
  src/schema_gen/generators/pydantic_generator.py
  src/schema_gen/generators/sqlalchemy_generator.py
  src/schema_gen/generators/typeddict_generator.py
  src/schema_gen/generators/zod_generator.py
Due: schema-gen-validate, schema-gen-compatibility

Version bump
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

fix(rust-gen): emit #[serde(rename)] for non-snake_case field names
  pyproject.toml
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix(rust-gen): address Copilot review on non-snake_case field rename
  src/schema_gen/__init__.py
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix(rust-gen): address second Copilot review round
  src/schema_gen/generators/rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix(rust-gen): address third Copilot review round
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix(rust-gen): emit #[serde(rename)] for non-snake_case field names (#80)
  pyproject.toml
  src/schema_gen/__init__.py
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

chore: bump version to 0.3.6 and publish to Nexus
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

chore: bump version to 0.3.6 and publish to Nexus (#81)
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

feat: emit grouped field-name constants from field tags (#82)
  docs/schema-format.md
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_field_tags.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

fix: regenerate uv.lock without exclude-newer for CI compatibility
  uv.lock
Due: none

fix: address Copilot review — dedup tags, type validation, drop index re-exports
  src/schema_gen/generators/zod_generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_field_tags.py
Due: schema-gen-validate, schema-gen-compatibility

feat: emit grouped field-name constants from field tags (#82) (#83)
  docs/schema-format.md
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_field_tags.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

Version bump 0.3.7
  pyproject.toml
Due: none

chore: sync uv.lock with 0.3.7 version bump
  uv.lock
Due: none

fix(renovate): remove .github/renovate.json5 (blocks Renovate)
  .github/renovate.json5
Due: none

fix(renovate): revert customManagers.managerFilePatterns → fileMatch
  renovate.json5
Due: none
