Repository jagatsingh/schema-gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-gen-validate, schema-gen-generate, schema-gen-compatibility

schema-gen-validate:
  name: Validate generated schemas
  entry: uv run schema-gen validate
  language: system
  pass_filenames: false
  stages:
  - pre-commit

schema-gen-generate:
  name: Generate schemas
  entry: uv run schema-gen generate
  language: system
  pass_filenames: false

schema-gen-compatibility:
  name: Version compatibility check
  entry: uv run python scripts/check_compatibility.py --current-only
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(rust): per-field integer/float width override via Field(rust={"type": ...})
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

chore(pre-commit): remove schema-gen-validate from own repo config
  .pre-commit-config.yaml
  src/schema_gen/cli/main.py
  tests/test_cli_basic.py
  tests/test_production_readiness.py
Due: schema-gen-validate

feat(enums): support PydanticMeta and SerdeMeta on Enum classes
  src/schema_gen/core/usr.py
  src/schema_gen/generators/pydantic_generator.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_pydantic_config.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

test: refresh stale assertions for Pydantic v2 + SQLAlchemy 2.0 generators
  tests/test_integration.py
  tests/test_version_compatibility.py
Due: schema-gen-validate

refactor(core): drop 328 lines of dead per-target file-writing code
  src/schema_gen/core/generator.py
  src/schema_gen/generators/registry.py
Due: schema-gen-validate, schema-gen-compatibility

fix(generators): export RustGenerator from schema_gen.generators
  src/schema_gen/generators/__init__.py
Due: schema-gen-validate, schema-gen-compatibility

feat(rust): support discriminated unions → internally-tagged enums
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

docs: add Rust generator docs and README section
  README.md
  docs/generators/rust.md
Due: none

docs(pydantic): document Config.pydantic keys + enum meta
  docs/generators/pydantic.md
  mkdocs.yml
Due: none

docs(schema-format): document rust= field kwarg, SerdeMeta, discriminated unions
  docs/schema-format.md
Due: none

docs: docstring updates for RustGenerator, USREnum, Field
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix(pydantic): deterministic ConfigDict kwargs ordering
  src/schema_gen/generators/pydantic_generator.py
  tests/test_pydantic_config.py
Due: schema-gen-validate, schema-gen-compatibility

fix(rust): strip leading underscores in module name generation
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix(rust): Box<T> for direct self-referential struct fields
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix(parser): raise on discriminator errors instead of silent fallback
  src/schema_gen/parsers/schema_parser.py
  tests/test_rust_generator.py
Due: schema-gen-validate

feat(pydantic): discriminated union support via Annotated[Union, Field(discriminator=...)]
  src/schema_gen/generators/pydantic_generator.py
  tests/test_pydantic_config.py
Due: schema-gen-validate, schema-gen-compatibility

test: add e2e compile-check fixture for Rust, Pydantic, Zod, JSON Schema
  tests/test_e2e_compile.py
Due: schema-gen-validate

fix(parser): handle Python 3.12+ pipe union syntax (types.UnionType)
  src/schema_gen/core/usr.py
  tests/test_pipe_union.py
Due: schema-gen-validate

fix(zod): add trailing commas to z.object() field entries
  src/schema_gen/generators/zod_generator.py
  tests/test_e2e_compile.py
  tests/test_zod_commas.py
Due: schema-gen-validate, schema-gen-compatibility

fix(rust): add [lib] path directive to generated Cargo.toml
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix: address Copilot review comments on PR #17
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/publish.yml
  .github/workflows/schema-check.yml
  .github/workflows/version-compatibility.yml
  .python-version
Due: none

feat: wire Config.rust/zod/jsonschema through to generators
  src/schema_gen/generators/jsonschema_generator.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  tests/test_config_wiring.py
Due: schema-gen-validate, schema-gen-compatibility

fix: make base Cargo deps overridable via extra_deps
  src/schema_gen/generators/rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

feat: add schema-gen diff for breaking change detection (#23)
  docs/cli-reference.md
  src/schema_gen/cli/main.py
  src/schema_gen/diff/__init__.py
  src/schema_gen/diff/baseline.py
  src/schema_gen/diff/comparator.py
  src/schema_gen/diff/formatter.py
  src/schema_gen/diff/rules.py
  tests/test_diff.py
Due: schema-gen-validate

fix: address Copilot and owner review comments on PR #24
  src/schema_gen/cli/main.py
  src/schema_gen/diff/baseline.py
  src/schema_gen/diff/comparator.py
  src/schema_gen/diff/formatter.py
  tests/test_diff.py
Due: schema-gen-validate

feat: schema-gen diff — breaking change detection (#23)
  docs/cli-reference.md
  src/schema_gen/cli/main.py
  src/schema_gen/diff/__init__.py
  src/schema_gen/diff/baseline.py
  src/schema_gen/diff/comparator.py
  src/schema_gen/diff/formatter.py
  src/schema_gen/diff/rules.py
  tests/test_diff.py
Due: schema-gen-validate

docs: surface schema-gen diff in README, index, and getting-started
  README.md
  docs/getting-started.md
  docs/index.md
Due: none

docs: surface schema-gen diff in README and getting-started
  README.md
  docs/getting-started.md
  docs/index.md
Due: none

fix: honor default_factory in Pydantic generator (#28)
  src/schema_gen/generators/pydantic_generator.py
  tests/test_pydantic_config.py
Due: schema-gen-validate, schema-gen-compatibility

fix: emit z.string().datetime() for datetime fields in Zod generator (#27)
  src/schema_gen/generators/zod_generator.py
  tests/test_generators.py
Due: schema-gen-validate, schema-gen-compatibility

fix: preserve str/int mixin on enums in Pydantic generator (#26)
  src/schema_gen/core/usr.py
  src/schema_gen/generators/pydantic_generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_optional_enum.py
  tests/test_pydantic_config.py
Due: schema-gen-validate, schema-gen-compatibility

fix: generate serde_json::Value for dict[str, Any] in Rust (#29)
  pyproject.toml
  src/schema_gen/core/usr.py
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

docs: update Rust type mapping for dict[str, Any] → serde_json::Value
  docs/generators/rust.md
Due: none

fix: simplify _detect_enum_value_type, add JSON round-trip test
  src/schema_gen/parsers/schema_parser.py
  tests/test_optional_enum.py
Due: schema-gen-validate

fix: reject lambda default_factory with clear error message
  src/schema_gen/generators/pydantic_generator.py
  tests/test_pydantic_config.py
Due: schema-gen-validate, schema-gen-compatibility

fix: generate serde_json::Value for dict[str, Any] in Rust (#29)
  docs/generators/rust.md
  pyproject.toml
  src/schema_gen/core/usr.py
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

feat: add --format github for GitHub Actions annotations (#23)
  docs/cli-reference.md
  src/schema_gen/cli/main.py
  src/schema_gen/diff/__init__.py
  src/schema_gen/diff/formatter.py
  tests/test_diff.py
Due: schema-gen-validate

Path conditions:
  schema-gen-validate: any of: \.py$
  schema-gen-generate: any of: (schemas/.*\.py|\.schema-gen\.config\.py)$
  schema-gen-compatibility: any of: src/schema_gen/generators/.*\.py$
