Repository jagatsingh/schema-gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-gen-validate, schema-gen-generate, schema-gen-compatibility

schema-gen-validate:
  name: Validate generated schemas
  entry: uv run schema-gen validate
  language: system
  pass_filenames: false
  stages:
  - pre-commit

schema-gen-generate:
  name: Generate schemas
  entry: uv run schema-gen generate
  language: system
  pass_filenames: false

schema-gen-compatibility:
  name: Version compatibility check
  entry: uv run python scripts/check_compatibility.py --current-only
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: bump __version__ to 0.3.16
  src/schema_gen/__init__.py
Due: schema-gen-validate

fix(rust-gen): emit serde default helper fn for non-trivial defaults (#115) (#116)
  pyproject.toml
  src/schema_gen/__init__.py
  src/schema_gen/generators/rust_generator.py
  tests/golden_outputs/rust_canonical_order.rs
  tests/test_e2e_compile.py
  tests/test_rust_generator.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

security: fix 4 Dependabot CVEs — GitPython 3.1.46 → 3.1.50
  pyproject.toml
  uv.lock
Due: none

security: fix 4 Dependabot CVEs — GitPython 3.1.46 → 3.1.50 (#117)
  pyproject.toml
  uv.lock
Due: none

security: fix Dependabot CVEs (2026-05-16)
  pyproject.toml
  uv.lock
Due: none

security: fix Dependabot CVEs (2026-05-16) (#118)
  pyproject.toml
  uv.lock
Due: none

security: fix Dependabot CVEs (2026-05-23)
  pyproject.toml
  uv.lock
Due: none

feat(unions): cross-language discriminated-union round-trip (Zod, JSON Schema, serde fix)
  docs/generators/rust.md
  docs/schema-format.md
  src/schema_gen/core/usr.py
  src/schema_gen/generators/jsonschema_generator.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_discriminated_union_roundtrip.py
Due: schema-gen-validate, schema-gen-compatibility

feat(unions): cross-language discriminated-union round-trip (Zod, JSON Schema, serde fix) (#123)
  docs/generators/rust.md
  docs/schema-format.md
  src/schema_gen/core/usr.py
  src/schema_gen/generators/jsonschema_generator.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  src/schema_gen/parsers/schema_parser.py
  tests/test_discriminated_union_roundtrip.py
Due: schema-gen-validate, schema-gen-compatibility

chore(release): schema-gen 0.3.19 — discriminated-union codegen (#123) + fix .python-version
  .python-version
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

chore(release): schema-gen 0.3.19 — union codegen + fix .python-version (#124)
  .python-version
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

fix(rust): drop struct-level Default on discriminated-union variants
  pyproject.toml
  src/schema_gen/__init__.py
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

fix(rust-union): drop struct-level Default on discriminated-union variants (0.3.21)
  pyproject.toml
  src/schema_gen/__init__.py
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

fix(rust-union): drop struct-level Default on discriminated-union variants (0.3.21) (#126)
  pyproject.toml
  src/schema_gen/__init__.py
  src/schema_gen/generators/rust_generator.py
  tests/test_rust_generator.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

chore(release): schema-gen 0.3.22 (pinnable canonical build for tradingcore CI)
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

chore(release): schema-gen 0.3.22 (pinnable canonical build for tradingcore CI) (#127)
  pyproject.toml
  src/schema_gen/__init__.py
  uv.lock
Due: schema-gen-validate

security: fix Dependabot CVEs (2026-05-30)
  pyproject.toml
  uv.lock
Due: none

feat(rust): honor object-map type-override on dict[str, Any] fields (#130)
  Dockerfile.validation
  docs/generators/rust.md
  scripts/test_all_formats.sh
  src/schema_gen/generators/rust_generator.py
  tests/test_e2e_compile.py
  tests/test_rust_generator.py
Due: schema-gen-validate, schema-gen-compatibility

feat(unions): top-level / standalone discriminated unions via register_union (#131)
  Dockerfile.validation
  docs/generators/rust.md
  docs/schema-format.md
  src/schema_gen/__init__.py
  src/schema_gen/core/generator.py
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/base.py
  src/schema_gen/generators/jsonschema_generator.py
  src/schema_gen/generators/pydantic_generator.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/generators/zod_generator.py
  src/schema_gen/parsers/schema_parser.py
  src/schema_gen/registry/index.py
  tests/conftest.py
  tests/test_standalone_union.py
Due: schema-gen-validate, schema-gen-compatibility

security: fix Dependabot CVEs (2026-06-06)
  pyproject.toml
  uv.lock
Due: none

[schema-gen] fix(security): normalize lock to PyPI URLs + add uv-secure config
  pyproject.toml
  uv.lock
Due: none

security: fix Dependabot CVEs (2026-06-06) (#136)
  pyproject.toml
  uv.lock
Due: none

Upgrade Python 3.12 → 3.14
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/dependency-check.yml
  .github/workflows/publish.yml
  .github/workflows/schema-check.yml
  .github/workflows/version-compatibility.yml
  .pre-commit-config.yaml
  .python-version
  .readthedocs.yaml
  .readthedocs.yml
  Dockerfile.validation
  mypy.ini
  pyproject.toml
  scripts/validate-in-docker.sh
  src/schema_gen/core/config.py
  src/schema_gen/core/generator.py
  src/schema_gen/core/usr.py
  src/schema_gen/diff/baseline.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/registry/index.py
  tests/test-matrix.yml
  tests/test_config_wiring.py
  tests/test_deterministic_ordering.py
  tests/test_discriminated_union_roundtrip.py
  tests/test_e2e_compile.py
  tests/test_field_alias.py
  tests/test_generator_correctness_invariants.py
  tests/test_generator_framework_execution.py
  tests/test_generator_output_stability.py
  tests/test_pipe_union.py
  tests/test_pydantic_typing_imports.py
  tests/test_registry.py
  tests/test_rust_generator.py
  tests/test_zod_commas.py
  tests/test_zod_dict_imports.py
  tests/test_zod_imports.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

Upgrade Python 3.12 → 3.14 (#141)
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/dependency-check.yml
  .github/workflows/publish.yml
  .github/workflows/schema-check.yml
  .github/workflows/version-compatibility.yml
  .pre-commit-config.yaml
  .python-version
  .readthedocs.yaml
  .readthedocs.yml
  Dockerfile.validation
  mypy.ini
  pyproject.toml
  scripts/validate-in-docker.sh
  src/schema_gen/core/config.py
  src/schema_gen/core/generator.py
  src/schema_gen/core/usr.py
  src/schema_gen/diff/baseline.py
  src/schema_gen/generators/rust_generator.py
  src/schema_gen/registry/index.py
  tests/test-matrix.yml
  tests/test_config_wiring.py
  tests/test_deterministic_ordering.py
  tests/test_discriminated_union_roundtrip.py
  tests/test_e2e_compile.py
  tests/test_field_alias.py
  tests/test_generator_correctness_invariants.py
  tests/test_generator_framework_execution.py
  tests/test_generator_output_stability.py
  tests/test_pipe_union.py
  tests/test_pydantic_typing_imports.py
  tests/test_registry.py
  tests/test_rust_generator.py
  tests/test_zod_commas.py
  tests/test_zod_dict_imports.py
  tests/test_zod_imports.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

Remove the pathway generator entirely (v0.4.0)
  .github/workflows/dependency-check.yml
  CONTRIBUTING.md
  README.md
  dependencies.json
  docs/api-reference.md
  docs/cli-reference.md
  docs/configuration.md
  docs/docker-validation.md
  docs/index.md
  docs/renovate.md
  docs/schema-format.md
  examples/target_specific_meta_example.py
  pyproject.toml
  renovate.json5
  scripts/check_compatibility.py
  scripts/check_dependency_versions.py
  scripts/test_python_formats.py
  scripts/validate_all_formats.py
  src/schema_gen/__init__.py
  src/schema_gen/core/config.py
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/__init__.py
  src/schema_gen/generators/pathway_generator.py
  src/schema_gen/generators/registry.py
  src/schema_gen/parsers/schema_parser.py
  tests/golden_outputs/pathway_canonical_order.py
  tests/test-matrix.yml
  tests/test_field_alias.py
  tests/test_format_validation.py
  tests/test_generator_framework_execution.py
  tests/test_generator_output_stability.py
  tests/test_generators.py
  tests/test_version_compatibility.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

Remove the pathway generator entirely (v0.4.0) (#142)
  .github/workflows/dependency-check.yml
  CONTRIBUTING.md
  README.md
  dependencies.json
  docs/api-reference.md
  docs/cli-reference.md
  docs/configuration.md
  docs/docker-validation.md
  docs/index.md
  docs/renovate.md
  docs/schema-format.md
  examples/target_specific_meta_example.py
  pyproject.toml
  renovate.json5
  scripts/check_compatibility.py
  scripts/check_dependency_versions.py
  scripts/test_python_formats.py
  scripts/validate_all_formats.py
  src/schema_gen/__init__.py
  src/schema_gen/core/config.py
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/__init__.py
  src/schema_gen/generators/pathway_generator.py
  src/schema_gen/generators/registry.py
  src/schema_gen/parsers/schema_parser.py
  tests/golden_outputs/pathway_canonical_order.py
  tests/test-matrix.yml
  tests/test_field_alias.py
  tests/test_format_validation.py
  tests/test_generator_framework_execution.py
  tests/test_generator_output_stability.py
  tests/test_generators.py
  tests/test_version_compatibility.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

chore: bump version to 0.4.1 (published to Nexus)
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.4.1 (published to Nexus) (#143)
  pyproject.toml
  uv.lock
Due: none

feat: Add Zod 4 support - update z.record() API
  docs/configuration.md
  pyproject.toml
  src/schema_gen/generators/zod_generator.py
  tests/golden_outputs/zod_canonical_order.ts
  tests/test_zod_dict_imports.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

fix: Remove exclude-newer from lockfile for CI compatibility
  uv.lock
Due: none

fix: Add ruff and mypy to dependency-groups dev
  pyproject.toml
  uv.lock
Due: none

fix: Regenerate uv.lock to fix CI lockfile consistency check
  uv.lock
Due: none

feat: Add Zod 4 support - update z.record() API (#144)
  docs/configuration.md
  pyproject.toml
  src/schema_gen/generators/zod_generator.py
  tests/golden_outputs/zod_canonical_order.ts
  tests/test_zod_dict_imports.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

feat(arrow): add arrow_rust and arrow_python generators (#148)
  README.md
  docs/generators/arrow.md
  mkdocs.yml
  pyproject.toml
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/__init__.py
  src/schema_gen/generators/arrow_generator.py
  src/schema_gen/generators/registry.py
  tests/golden_outputs/arrow_python_canonical_order.py
  tests/golden_outputs/arrow_rust_canonical_order.rs
  tests/test_arrow_generator.py
  tests/test_generator_framework_execution.py
  tests/test_generator_output_stability.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

feat(arrow): add arrow_rust and arrow_python generators (#148) (#149)
  README.md
  docs/generators/arrow.md
  mkdocs.yml
  pyproject.toml
  src/schema_gen/core/schema.py
  src/schema_gen/core/usr.py
  src/schema_gen/generators/__init__.py
  src/schema_gen/generators/arrow_generator.py
  src/schema_gen/generators/registry.py
  tests/golden_outputs/arrow_python_canonical_order.py
  tests/golden_outputs/arrow_rust_canonical_order.rs
  tests/test_arrow_generator.py
  tests/test_generator_framework_execution.py
  tests/test_generator_output_stability.py
  uv.lock
Due: schema-gen-validate, schema-gen-compatibility

chore: bump version to 0.5.1 (published to Nexus)
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.5.1 (published to Nexus) (#150)
  pyproject.toml
  uv.lock
Due: none

fix(arrow): compile-breaking TIME type, unvalidated decimal precision/scale
  src/schema_gen/generators/arrow_generator.py
  tests/test_arrow_generator.py
  tests/test_generator_framework_execution.py
Due: schema-gen-validate, schema-gen-compatibility

fix(arrow): compile-breaking TIME type, unvalidated decimal precision/scale (#154)
  src/schema_gen/generators/arrow_generator.py
  tests/test_arrow_generator.py
  tests/test_generator_framework_execution.py
Due: schema-gen-validate, schema-gen-compatibility

chore: bump version to 0.5.2 (published to Nexus)
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  schema-gen-validate: any of: \.py$
  schema-gen-generate: any of: (schemas/.*\.py|\.schema-gen\.config\.py)$
  schema-gen-compatibility: any of: src/schema_gen/generators/.*\.py$
